*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:var(--font);

    background:var(--background);

    color:var(--text);

}

img{

    max-width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

.container{

    width:90%;

    max-width:var(--max-width);

    margin:auto;

}



.header{

    position:sticky;

    top:0;

    z-index:999;

    background:white;

    box-shadow:var(--shadow);

}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:1.7rem;

    font-weight:bold;

    color:var(--primary);

}

.logo span{

    color:var(--accent);

}

.nav-links{

    display:flex;

    gap:35px;

}

.nav-links a{

    font-weight:600;

    transition:var(--transition);

}

.nav-links a:hover{

    color:var(--primary);

}

.btn{

    background:var(--primary);

    color:white;

    padding:12px 22px;

    border-radius:var(--radius);

    transition:var(--transition);

}

.btn:hover{

    background:var(--secondary);

}

.menu-toggle{

    display:none;

    font-size:2rem;

    cursor:pointer;

}