:root{

    /* Colores */

    --primary:#2563EB;
    --secondary:#1E40AF;
    --accent:#00d5ff;

    --white:#FFFFFF;
    --black:#111827;

    --background:#ffffff;

    --text:#000000;

    /* Tipografía */

    --font:'Arial',sans-serif;

    /* Tamaños */

    --radius:12px;

    --shadow:0px 0px 10px rgba(0,0,0,.08);

    --transition:.3s;

    --max-width:1200px;

}